@import '../scss/varible';

.play-main{

    display: grid;
    grid-template-columns: 1fr 800px 1fr;

    height: 100vh;

    .card-main{
        
        grid-column-start: 2;
        grid-column-end: 3;

        display: flex;
        height: 100vh;
        flex-direction: column;

        align-items: center;
        justify-content: center;

        border-left: 3px solid black;
        border-right: 3px solid black;

        .userInput{
            font-size: 16px;
            margin-bottom: 10px;
        }

    }

    .sub-card-1{
        display: box;
        grid-column-start: 1;
    }

    .sub-card-2{
        grid-column-start: 3;

        .help-parent{
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 10px;

            font-size: 14px;

            .suggestbutton{
                border: none;
                width: 300px;
                box-shadow: none;

                text-align: left;
            }
        }

        .fb-parent{
            display: flex;
            justify-content: center;
            height: 100vh;
            align-items: center;
            gap: 10px;

            flex-direction: column;

            .fb-parent2{
                display: flex;
                flex-direction: row;
            }



            .fb{
                display: flex;
                justify-content: center;
                align-items: center;

                font-size: 18px;
                padding: 10px 10px 10px 10px;
                color: $main-black;

                height: 25px;
                width: 145px;
                border-radius: 3px;
            
                font-weight: 600;
            
                border: 3px solid $main-black;
            
                box-shadow: 0px 5px 0px 0px #000000;


            }

            .fb-small{
                display: flex;
                justify-content: center;
                align-items: center;

                gap: 10px;

                font-size: 18px;
                padding: 10px 10px 10px 10px;
                color: $main-black;

                height: 35px;
                width: 35px;
                border-radius: 3px; 
            
                font-weight: 600;
            
                border: 3px solid $main-black;
            
                box-shadow: 0px 5px 0px 0px #000000;
            }
        }


    }
}

@media (max-width: 768px){

    .play-main{
        display: block;
    }

}

@media (max-width: 900px){

    .play-main{
        display: block;
    }

    .sub-card-1{
        display: none;
    }

    .sub-card-2{
        display: none;
    }
}

@media (max-width: 1040px){
    .play-main .sub-card-2 .fb-parent .fb{
        display: none;
    }
}

.button-main{

    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
    height: 45px;
    width: 145px;
    border-radius: 3px;

    font-weight: 600;

    border: 3px solid $main-black;

    box-shadow: 0px 5px 0px 0px #000000;

    gap: 10px;
}

.button-logo{
    height: 50px;
    width: 50px;
    border-radius: 50%;

    box-shadow: 0px 3px 0px 0px #000000;
}