@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap');
$main-font: 'IBM Plex Sans Thai', sans-serif;


* {
    margin: 0;
    padding: 0;
}

$main-yellow: #FDB90E;
$main-white: #FAFAFA;
$main-black: #002622;
$main-drop: #00332E;
$main-hover: rgba(0, 51, 46, 0.4);
