@import "../../../scss/varible";

$dot-size: 20px;

.dot-parent {
	display: flex;
	align-items: center;
	justify-content: center;

	gap: 10px;

	.dot {
		height: $dot-size;
		width: $dot-size;

		display: flex;
		align-items: center;
		justify-content: center;

		border: 2px solid $main-black;

		box-shadow: 0px 3px 0px 0px #000000;

		border-radius: none;

		transition: width 1s, border-radius 1s;
	}
}
